<html>
    <head>
        <title>PISCIS</title>
        </head>
    <body>
        <div>
            <h1><a href="/">PISCIS</a></h1>
        </div>

        <div>
            <p>Plataform form interactive search citizen science</p>
            <h2><a href="">Registrar Usuario</a></h2>
            <p>Registrarse para participar del proyecto</p>
        </div>

        <div>
            <h2><a href="">Encuesta</a></h2>
            <p>¡Participe de la encuesta!</p>
        </div>
    </body>
</html>
